body {   
  background-color: #f8f9fa;    
font-family: Arial,sans-serif;   
}   
   
.hero-section {    
background-color: #f6efe8;    
padding: 40px 0;   
}   
   
.product-card {   
  transition: transform 0.3s;   
}   
   
.product-card:hover {   transform: 
translateY(-5px); }   
#mainphoto{      
height: 200px;   
   
   
}   
#lastphoto{   
    height: 200px;   
} 